body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.pagina {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.caixa1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    flex-direction: column;
}